[Unit]
Description=Brandmeldbot, matrix chat bot for logging serial messages from NSC Solution F2 Brandmeld centrale
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=root
WorkingDirectory=/opt/brandmeldbot/
ExecStart=/opt/brandmeldbot/app.py
ExecReload=kill -HUP $MAINPID
# This is a critical service, so always restart (even if it would somehow
# cleanly exit), and never stop trying to restart.
Restart=always
StartLimitIntervalSec=0
# To prevent continuously restarting, add a bit of delay
RestartSec=10

[Install]
WantedBy=multi-user.target

